on:
  push:
    branches:
      - main
    paths:
      - '**.rs'
      - Cargo.toml
      - Cargo.lock
      - .github/workflows/cargo-test.yml
  pull_request:
    paths:
      - '**.rs'
      - Cargo.toml
      - Cargo.lock
      - .github/workflows/cargo-test.yml
  workflow_dispatch:
permissions: read-all
name: cargo test
jobs:
  cargotest:
    name: cargo test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable
      - uses: taiki-e/install-action@cargo-llvm-cov
      - uses: taiki-e/install-action@nextest

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2.6.2

      - name: Install ffmpeg
        run: |
          sudo apt update
          sudo apt install \
            ffmpeg \
            libavformat-dev \
            libavutil-dev \
            libclang-dev \
            libswscale-dev \
            --no-install-recommends


      - name: cargo test
        shell: bash
        run: |
          cargo llvm-cov nextest --workspace --all-features --lcov --output-path lcov.info --test-threads=1 --no-fail-fast

      - name: Upload to codecov.io
        uses: codecov/codecov-action@v5
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          fail_ci_if_error: true
          flags: unittests
          verbose: true
          files: lcov.info
